/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* Navigasi */
header {
    background: rgb(92, 145, 205);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: rgb(92, 205, 139);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: rgb(152, 205, 92);
}

/* Bagian Utama */
.section {
    padding: 50px 20px;
    text-align: center;
}
.section h2 {
    margin-bottom: 20px;
    color: lightcoral;
}

/* Beranda */
#beranda {
    background: cadetblue;
}
#beranda h1 {
    font-size: 28px;
    margin-bottom: 10px;
}
#beranda .profil {
    width: 150px;
    border-radius: 50%;
    margin: 20px 0;
}

/* List */
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin: 10px 0;
    font-size: 16px;
}

/* Form Kontak */
.form-kontak {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-kontak label {
    margin: 5px 0 2px;
}
.form-kontak input,
.form-kontak textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(255, 196, 0);
    border-radius: 5px;
}    
.form-kontak button {
    padding: 10px;
    background: rgb(141, 92, 205);
    color: lightgoldenrodyellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-kontak button:hover {
    background: lightcoral;
}

/* Footer */
footer {
    background: indianred
    color(srgb rgb(26, 219, 161) rgb(53, 112, 161));
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}
