/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
/* Navigasi */
header {
    background: rgb(201, 13, 207);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: rgb(0, 47, 255);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: rgb(152, 205, 92);
}
/* Bagian Utama */
.section {
    padding: 50px 20px;
    text-align: center;
}
/* Home */
#Home {
    background: rgb(214, 146, 0);
}
#Home h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: darkblue;
}
#Home .profil {
    width: 150px;
    border-radius: 50%;
    margin: 20px 0;
}
#Home h2 {
    margin-bottom: 20px;
    color: darkslateblue;
}
/* Education */
#Education {
    background-color: rgb(0, 154, 201);
}
#Education h2 {
    margin-bottom: 20px;
    color: rgb(226, 24, 24);
}
/* About Me */
#AboutMe {
background-color: rgb(0, 225, 255);
}
#AboutMe h2 {
    margin-bottom: 20px;
    color: rgb(76, 255, 22);
}
/* Personal Data */
#PersonalData {
    background-color: rgb(0, 255, 234);
}
#PersonalData h2 {
    margin-bottom: 20px;
    color: rgb(248, 185, 12);
}
/* Contact */
#Contact {
background-color: rgb(255, 0, 55);
}
#Contact h2 {
    margin-bottom: 20px;
    color: rgb(128, 227, 240);
}
/* List */
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin: 10px 0;
    font-size: 16px;
}

/* Form Kontak */
.form-kontak {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-kontak label {
    margin: 5px 0 2px;
}
.form-kontak input,
.form-kontak textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(255, 196, 0);
    border-radius: 5px;
}    
.form-kontak button {
    padding: 10px;
    background: rgb(141, 92, 205);
    color: lightgoldenrodyellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-kontak button:hover {
    background: lightcoral;
}

/* Footer */
Footer {
    background: indianred
    color(srgb rgb(255, 217, 0) rgb(53, 112, 161));
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}
